99-proyecto-analisis-del-boc/flows/download_year_bulletins.yaml
id: download_year_bulletins
namespace: boc
description: Descarga el índice de boletines de un año

inputs:
  - id: year
    type: INT
    displayName: Year

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

variables:
  source_url: "https://www.gobiernodecanarias.org/boc/archivo/{{ inputs.year }}"
  folder: "/app/data/raw/boc/year"
  file: "{{ inputs.year }}.html"

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: year_bulletins
      year: "{{ inputs.year }}"

  - id: lookup_file
    type: io.kestra.plugin.fs.local.List
    from: "{{ vars.folder }}"
    regExp: ".*{{ inputs.year }}\\.html"
    recursive: false
    maxFiles: 1

  - id: if_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_file.count > 0 and not inputs.overwrite }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: CANCELED
        description: "File {{ vars.file }} already exists and overwrite is set to false"

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: "{{ render(vars.source_url) }}"
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.fs.local.Upload
    from: "{{ outputs.store.uri }}"
    to: "{{ vars.folder }}/{{ render(vars.file) }}"
    overwrite: "{{ inputs.overwrite }}"