proyecto-analisis-del-boc/pipeline/flows/main_boc.download_documents.yaml
id: download_documents
namespace: boc
description: Download a single disposition

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: issue
    type: INT
    displayName: Issue
    defaults: "1"

  - id: disposition
    type: INT
    displayName: Disposition
    defaults: "1"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  disposition_padded: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"
  target_filename: "{{ inputs.year }}/{{ render(vars.issue_padded) }}/{{ render(vars.disposition_padded) }}.html"
  source_url: "https://www.gobiernodecanarias.org/boc/{{ render(vars.target_filename) }}"
  bucket_path: "documents/{{ render(vars.target_filename) }}.gz"

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: disposition
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"
      disposition: "{{ render(vars.disposition_padded) }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    prefix: "{{ render(vars.bucket_path) }}"

  - id: if_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_file.objects | length > 0 and not inputs.overwrite }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: CANCELED
        description: "Key {{ render(vars.bucket_path) }} already exists and overwrite is set to false"

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: "{{ render(vars.source_url) }}"
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: compress
    type: io.kestra.plugin.compress.FileCompress
    from: "{{ outputs.store.uri }}"
    compression: GZIP

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    from: "{{ outputs.compress.uri }}"
    key: "{{ render(vars.bucket_path) }}"

  - id: log_download
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.bucket_path) }}"
      YEAR: "{{ inputs.year }}"
      ISSUE: "{{ inputs.issue }}"
      DISPOSITION: "{{ inputs.disposition }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_dataset.download_log (object_key, entity_type, year, issue, disposition) "
              "VALUES (%s, %s, %s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET downloaded_at = now()",
              (os.environ["OBJECT_KEY"], "document",
               int(os.environ["YEAR"]), int(os.environ["ISSUE"]), int(os.environ["DISPOSITION"])),
          )

      conn.close()
      print(f"Logged: {os.environ['OBJECT_KEY']}")