proyecto-analisis-del-boc/pipeline/flows/main_boc.download_disposition.yaml
id: download_disposition
namespace: boc
description: Download a single disposition

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: bulletin
    type: INT
    displayName: Bulletin
    defaults: "1"

  - id: disposition
    type: INT
    displayName: Disposition
    defaults: "1"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

variables:
  bulletin_padded: "{{ inputs.bulletin < 10 ? '00' ~ inputs.bulletin : inputs.bulletin < 100 ? '0' ~ inputs.bulletin : inputs.bulletin }}"
  disposition_padded: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"
  source_url: "https://www.gobiernodecanarias.org/boc/{{ inputs.year }}/{{ render(vars.bulletin_padded) }}/{{ render(vars.disposition_padded) }}.html"
  key: "documents/{{ inputs.year }}/{{ render(vars.bulletin_padded) }}/{{ render(vars.disposition_padded) }}.html"

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: disposition
      year: "{{ inputs.year }}"
      bulletin: "{{ render(vars.bulletin_padded) }}"
      disposition: "{{ render(vars.disposition_padded) }}"

  - id: log
    type: io.kestra.plugin.core.log.Log
    message: |
      "Bulletin URL: {{ render(vars.source_url) }}"
      "Target key: {{ render(vars.key) }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    prefix: "{{ render(vars.key) }}"

  - id: if_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_file.objects | length > 0 and not inputs.overwrite }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: CANCELED
        description: "Key {{ render(vars.key) }} already exists and overwrite is set to false"

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: "{{ render(vars.source_url) }}"
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    from: "{{ outputs.store.uri }}"
    key: "{{ render(vars.key) }}"