proyecto-analisis-del-boc/pipeline/flows/main_boc.backfill_year_bulletins.yaml
id: backfill_year_bulletins
namespace: boc
description: Backfill for year bulletins

inputs:
  - id: from_year
    type: INT
    required: true
    displayName: From year
    defaults: "{{ now() | date('yyyy') }}"

  - id: to_year
    type: INT
    required: true
    displayName: To year
    defaults: "{{ now() | date('yyyy') }}"

variables:
  folder: "/app/data/raw/boc/year"

tasks:
  - id: iterate_bulletins
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ range(inputs.from_year, inputs.to_year) }}"
    tasks:
      - id: lookup_file
        type: io.kestra.plugin.fs.local.List
        from: "{{ vars.folder }}"
        regExp: ".*{{ taskrun.value }}\\.html"
        recursive: false
        maxFiles: 1

      - id: if_file_exists
        type: io.kestra.plugin.core.flow.If
        condition: "{{ outputs.lookup_file[taskrun.value].count > 0 }}"
        then:
          - id: exit
            type: io.kestra.plugin.core.execution.Exit
            state: CANCELED
            description: "File `{{ vars.folder }}/{{ taskrun.value }}.html` already exists"

      - id: call_download_year_bulletins
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: download_year_bulletins
        inputs:
          year: "{{ taskrun.value }}"