proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_archive.yaml
id: extract_archive
namespace: boc
description: |
  Parse the archive index and load the list of years into PostgreSQL.

  Downloads **archive/archive.html.gz** from MinIO, decompresses it, parses it with the **archive-parser** CLI tool to produce a JSON list of years, and loads the records into **boc_dataset.archive** via dlt (merge on `year`). Finally records the extraction in **boc_log.extraction_log**.

  The resulting **boc_dataset.archive** table has one row per year (`year`, `absolute_link`) and is used by the **metric_download_years** view to track how many year indexes have been downloaded.

  Steps:
    1. **read**: downloads **archive/archive.html.gz** from MinIO.
    2. **decompress**: decompresses the GZIP file.
    3. **parse**: runs `archive-parser` to extract the list of years as **archive.json**.
    4. **load**: uses dlt to merge the records into **boc_dataset.archive** (primary key: `year`).
    5. **log_extraction**: upserts a row in **boc_log.extraction_log** (entity_type = `archive`).

tasks:
  - id: read
    type: io.kestra.plugin.minio.Download
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    key: archive/archive.html.gz

  - id: decompress
    type: io.kestra.plugin.compress.FileDecompress
    from: "{{ outputs.read.uri }}"
    compression: GZIP

  - id: parse
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      archive.html: "{{ outputs.decompress.uri }}"
    outputFiles:
      - archive.json
    commands:
      - archive-parser archive.html -o archive.json

  - id: load
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      archive.json: "{{ outputs.parse.outputFiles['archive.json'] }}"
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import json
      import os
      import dlt

      host = os.environ["POSTGRES_HOST"]
      db   = os.environ["POSTGRES_DB"]
      user = os.environ["POSTGRES_USER"]
      pwd  = os.environ["POSTGRES_PASSWORD"]

      with open("archive.json") as f:
          records = json.load(f)

      @dlt.resource(
          name="archive",
          write_disposition="merge",
          primary_key="year",
          columns={"year": {"data_type": "bigint"}},
      )
      def archive_data():
          yield from records

      pipeline = dlt.pipeline(
          pipeline_name="archive",
          destination=dlt.destinations.postgres(
              f"postgresql://{user}:{pwd}@{host}:5432/{db}"
          ),
          dataset_name="boc_dataset",
      )

      pipeline.run(archive_data)

  - id: log_extraction
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.extraction_log (object_key, entity_type) "
              "VALUES (%s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET extracted_at = now()",
              ("archive/archive.html.gz", "archive"),
          )

      conn.close()