proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_documents.yaml
id: extract_documents
namespace: boc
description: |
  Extract a single BOC disposition into Markdown + PostgreSQL, preferring the
  HTML source and falling back to the PDF source when no HTML is available.

  This flow tries **extract_documents_from_html** first; if it fails (typically
  because the HTML file does not exist in `boc-raw` for PDF-only dispositions),
  it transparently falls back to **extract_documents_from_pdf**, which looks
  up the PDF URL of the disposition in **boc_dataset.issue__dispositions**.

  Inputs:
    - **year**: the year of the boletín.
    - **issue**: the issue number within that year.
    - **disposition**: the disposition number within the boletín.

  Steps:
    1. **try_html**: invokes **extract_documents_from_html** with the given inputs.
       The Subflow task is configured with `transmitFailed: false` so a failure
       does not propagate, only the subflow `state` is observed.
    2. **if_html_failed**: when the HTML subflow ended in `FAILED`, invokes
       **extract_documents_from_pdf** with the same year + issue + disposition.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year

  - id: issue
    type: INT
    required: true
    displayName: Issue

  - id: disposition
    type: INT
    required: true
    displayName: Disposition

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  disposition_padded: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Extract documents running for year: {{ inputs.year }}, issue: {{ inputs.issue }} and disposition: {{ inputs.disposition }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"
      disposition: "{{ render(vars.disposition_padded) }}"

  - id: try_html
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: extract_documents_from_html
    inputs:
      year: "{{ inputs.year }}"
      issue: "{{ inputs.issue }}"
      disposition: "{{ inputs.disposition }}"
    wait: true
    transmitFailed: false

  - id: if_html_failed
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.try_html.state == 'FAILED' }}"
    then:
      - id: call_pdf
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: extract_documents_from_pdf
        inputs:
          year: "{{ inputs.year }}"
          issue: "{{ inputs.issue }}"
          disposition: "{{ inputs.disposition }}"
        wait: true
        transmitFailed: true
