proyecto-analisis-del-boc/pipeline/flows/main_boc.download_year_index.yaml
id: download_year_index
namespace: boc
description: Download the index of years

inputs:
  - id: extract
    type: BOOL
    displayName: Extract after download
    defaults: true

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: archive

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: https://www.gobiernodecanarias.org/boc/archivo/
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.fs.local.Upload
    from: "{{ outputs.store.uri }}"
    to: "/app/data/raw/boc/archive.html"
    overwrite: true

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ not inputs.extract }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: SUCCESS
        description: "Finishing after download because extraction wasn't solicited"

  - id: call_extract
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: extract_year_index
