proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_archive.yaml
id: extract_archive
namespace: boc
description: Extract year links from the archive

tasks:
  - id: read
    type: io.kestra.plugin.minio.Download
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    key: archive/archive.html

  - id: parse
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      archive.html: "{{ outputs.read.uri }}"
    outputFiles:
      - archive.json
    commands:
      - archive-parser archive.html -o archive.json

  - id: load
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      archive.json: "{{ outputs.parse.outputFiles['archive.json'] }}"
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import json
      import os
      import dlt

      host = os.environ["POSTGRES_HOST"]
      db   = os.environ["POSTGRES_DB"]
      user = os.environ["POSTGRES_USER"]
      pwd  = os.environ["POSTGRES_PASSWORD"]

      with open("archive.json") as f:
          records = json.load(f)

      @dlt.resource(name="archive", write_disposition="merge", merge_key="year")
      def archive_data():
          yield from records

      pipeline = dlt.pipeline(
          pipeline_name="archive",
          destination=dlt.destinations.postgres(
              f"postgresql://{user}:{pwd}@{host}:5432/{db}"
          ),
          dataset_name="archive_dataset",
      )

      pipeline.run(archive_data)
