proyecto-analisis-del-boc/pipeline/flows/main_boc.download_documents.yaml
id: download_documents
namespace: boc
description: |
  Download the full text of a single BOC disposition and store it in MinIO.

  Fetches the HTML page for a specific disposition from https://www.gobiernodecanarias.org/boc/YEAR/NNN/DDD.html, compresses it with GZIP, and uploads it to MinIO as **documents/YEAR/NNN/DDD.html.gz** in the `boc-raw` bucket. If the file already exists the download is skipped unless **overwrite** is set. Records the download in **boc_log.download_log** and optionally triggers **extract_documents**.

  Inputs:
    - **year**: the year of the boletín. Defaults to the current year.
    - **issue**: the issue number within that year. Defaults to 1.
    - **disposition**: the disposition number within the boletín. Defaults to 1.
    - **overwrite**: re-download even if the file already exists. Defaults to false.
    - **extract**: call **extract_documents** after a successful download. Defaults to true.

  Steps:
    1. **lookup_file**: checks whether the compressed file already exists in MinIO.
    2. **if_file_exists**: exits early (CANCELED) if the file exists and overwrite is false.
    3. **fetch / store / compress / publish**: downloads, compresses, and uploads the HTML.
    4. **log_download**: upserts a row in **boc_log.download_log** (entity_type = `document`).
    5. **if_extract**: conditionally invokes **extract_documents** for the same year + issue + disposition.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    # defaults: "{{ now() | date('yyyy') }}"

  - id: issue
    type: INT
    displayName: Issue
    # defaults: "1"

  - id: disposition
    type: INT
    displayName: Disposition
    # defaults: "1"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

  - id: extract
    type: BOOL
    displayName: Extract
    defaults: true

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  disposition_padded: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"
  target_filename: "{{ inputs.year }}/{{ render(vars.issue_padded) }}/{{ render(vars.disposition_padded) }}.html"
  source_url: "https://www.gobiernodecanarias.org/boc/{{ render(vars.target_filename) }}"
  bucket_path: "documents/{{ render(vars.target_filename) }}.gz"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Download documents running for year: {{ inputs.year }}, issue: {{ inputs.issue }} and disposition {{ inputs.disposition }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"
      disposition: "{{ render(vars.disposition_padded) }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    prefix: "{{ render(vars.bucket_path) }}"

  - id: if_not_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_file.objects | length == 0 or inputs.overwrite }}"
    then:
    - id: fetch
      type: io.kestra.plugin.core.http.Download
      uri: "{{ render(vars.source_url) }}"
      method: GET

    - id: compress
      type: io.kestra.plugin.compress.FileCompress
      from: "{{ outputs.fetch.uri }}"
      compression: GZIP

    - id: publish
      type: io.kestra.plugin.minio.Upload
      endpoint: "{{ envs.minio_endpoint }}"
      accessKeyId: "{{ envs.minio_user }}"
      secretKeyId: "{{ envs.minio_password }}"
      bucket: "{{ envs.minio_raw_bucket }}"
      from: "{{ outputs.compress.uri }}"
      key: "{{ render(vars.bucket_path) }}"

  - id: log_download
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.bucket_path) }}"
      YEAR: "{{ inputs.year }}"
      ISSUE: "{{ inputs.issue }}"
      DISPOSITION: "{{ inputs.disposition }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.download_log (object_key, entity_type, year, issue, disposition) "
              "VALUES (%s, %s, %s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET downloaded_at = now()",
              (os.environ["OBJECT_KEY"], "document",
              int(os.environ["YEAR"]), int(os.environ["ISSUE"]), int(os.environ["DISPOSITION"])),
          )

      conn.close()

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.extract }}"
    then:
      - id: call_extract_documents
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: extract_documents
        inputs:
          year: "{{ inputs.year }}"
          issue: "{{ inputs.issue }}"
          disposition: "{{ inputs.disposition }}"