proyecto-analisis-del-boc/pipeline/flows/main_boc.download_documents.yaml
id: download_documents
namespace: boc
description: |
  Download a single BOC disposition, preferring the HTML version and falling
  back to the PDF version when no HTML is available.

  Most BOC dispositions are published in HTML and PDF, but a few are PDF-only.
  This flow tries **download_documents_from_html** first; if it fails (typically
  because the HTML URL returns 404), it transparently falls back to
  **download_documents_from_pdf**, which looks up the PDF URL of the disposition
  in **boc_dataset.issue__dispositions**.

  Both subflows internally trigger their corresponding extractor
  (**extract_documents_from_html** or **extract_documents_from_pdf**) when
  **extract** is true, so this wrapper does not need to call the extractor
  itself.

  ### Whole-bulletin PDFs (e.g. 2006/071)

  A handful of old issues were published as a **single PDF containing every
  disposition**, with no per-disposition HTML or PDF. For those issues
  **boc_dataset.issue__dispositions.pdf** stores the bulletin-level URL
  (`boc-YEAR-NNN.pdf`) instead of a per-disposition URL
  (`boc-a-YEAR-NNN-NUMBER.pdf`). In that case neither subflow could succeed
  and the per-disposition Markdown is generated by
  **extract_documents_from_issue_pdf** at the issue level, so this flow
  short-circuits with SUCCESS instead of attempting (and failing) the HTML
  and PDF subflows.

  Inputs:
    - **year**: the year of the boletín.
    - **issue**: the issue number within that year.
    - **disposition**: the disposition number within the boletín.
    - **overwrite**: re-download even if the file already exists. Defaults to false.
    - **extract**: trigger the matching extractor after a successful download. Defaults to true.

  Steps:
    1. **lookup_disposition_kind**: queries **boc_dataset.issue__dispositions**
       and classifies the disposition as `per_disposition` (per-disposition
       PDF URL) or `whole_bulletin` (bulletin-level PDF URL).
    2. **if_per_disposition**: only when the disposition has its own file:
       a. **try_html**: invokes **download_documents_from_html**
          (`transmitFailed: false` so a failure does not propagate).
       b. **if_html_failed**: when the HTML subflow ended in `FAILED`,
          invokes **download_documents_from_pdf**.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year

  - id: issue
    type: INT
    required: true
    displayName: Issue

  - id: disposition
    type: INT
    required: true
    displayName: Disposition

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

  - id: extract
    type: BOOL
    displayName: Extract
    defaults: true

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  disposition_padded: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Download documents running for year: {{ inputs.year }}, issue: {{ inputs.issue }} and disposition: {{ inputs.disposition }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"
      disposition: "{{ render(vars.disposition_padded) }}"

  - id: lookup_disposition_kind
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      YEAR: "{{ inputs.year }}"
      ISSUE: "{{ inputs.issue }}"
      DISPOSITION: "{{ inputs.disposition }}"
    beforeCommands:
      - pip install kestra > /dev/null 2>&1
    inputFiles:
      lookup.py: |
        import os
        import re
        import psycopg2
        from kestra import Kestra

        year = int(os.environ["YEAR"])
        issue = int(os.environ["ISSUE"])
        disposition = int(os.environ["DISPOSITION"])

        conn = psycopg2.connect(
            host=os.environ["POSTGRES_HOST"],
            dbname=os.environ["POSTGRES_DB"],
            user=os.environ["POSTGRES_USER"],
            password=os.environ["POSTGRES_PASSWORD"],
        )

        with conn.cursor() as cur:
            cur.execute(
                """
                SELECT d.pdf
                FROM boc_dataset.issue__dispositions AS d
                JOIN boc_dataset.issue AS i ON i._dlt_id = d._dlt_parent_id
                WHERE i.year = %s AND i.issue = %s AND d.disposition = %s
                LIMIT 1
                """,
                (year, issue, disposition),
            )
            row = cur.fetchone()

        conn.close()

        # No row yet (issue not extracted): keep the legacy behaviour and
        # let the per-disposition subflows decide.
        kind = "per_disposition"
        if row and row[0]:
            url = row[0]
            # boc-a-YEAR-NNN-NUMBER.pdf → per-disposition file
            # boc-YEAR-NNN.pdf          → whole-bulletin file
            if re.search(r"boc-a-\d+-\d+-\d+\.pdf", url):
                kind = "per_disposition"
            elif re.search(r"boc-\d+-\d+\.pdf", url):
                kind = "whole_bulletin"

        Kestra.outputs({"kind": kind})
    commands:
      - python lookup.py

  - id: if_per_disposition
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_disposition_kind.vars.kind != 'whole_bulletin' }}"
    then:
      - id: try_html
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: download_documents_from_html
        inputs:
          year: "{{ inputs.year }}"
          issue: "{{ inputs.issue }}"
          disposition: "{{ inputs.disposition }}"
          overwrite: "{{ inputs.overwrite }}"
          extract: "{{ inputs.extract }}"
        wait: true
        transmitFailed: false

      - id: if_html_failed
        type: io.kestra.plugin.core.flow.If
        condition: "{{ outputs.try_html.state == 'FAILED' }}"
        then:
          - id: call_pdf
            type: io.kestra.plugin.core.flow.Subflow
            namespace: boc
            flowId: download_documents_from_pdf
            inputs:
              year: "{{ inputs.year }}"
              issue: "{{ inputs.issue }}"
              disposition: "{{ inputs.disposition }}"
              overwrite: "{{ inputs.overwrite }}"
              extract: "{{ inputs.extract }}"
            wait: true
            transmitFailed: true
    else:
      - id: skip_whole_bulletin
        type: io.kestra.plugin.core.log.Log
        message: "Disposition {{ inputs.disposition }} of {{ inputs.year }}/{{ render(vars.issue_padded) }} belongs to a whole-bulletin PDF; per-disposition extraction is handled by extract_documents_from_issue_pdf at the issue level."
