proyecto-analisis-del-boc/pipeline/flows/main_boc.download_archive.yaml
id: download_archive
namespace: boc
description: Download the archive

inputs:
  - id: extract
    type: BOOL
    displayName: Extract after download
    defaults: true

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: archive

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: https://www.gobiernodecanarias.org/boc/archivo/
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    from: "{{ outputs.store.uri }}"
    key: archive/archive.html

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ not inputs.extract }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: SUCCESS
        description: "Finishing after download because extraction wasn't solicited"

  - id: call_extract_archive
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: extract_archive
