proyecto-analisis-del-boc/pipeline/flows/main_boc.backfill_years.yaml
id: backfill_years
namespace: boc
description: Backfill for years

inputs:
  - id: from_year
    type: INT
    required: true
    displayName: From year
    defaults: "{{ now() | date('yyyy') }}"

  - id: to_year
    type: INT
    required: true
    displayName: To year
    defaults: "{{ now() | date('yyyy') }}"

tasks:
  - id: iterate_bulletins
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ range(inputs.from_year, inputs.to_year) }}"
    tasks:
      - id: lookup_file
        type: io.kestra.plugin.minio.List
        endpoint: "{{ envs.minio_endpoint }}"
        accessKeyId: "{{ envs.minio_user }}"
        secretKeyId: "{{ envs.minio_password }}"
        bucket: boc-raw
        prefix: "years/{{ taskrun.value }}.html.gz"

      - id: if_file_missing
        type: io.kestra.plugin.core.flow.If
        condition: "{{ (outputs.lookup_file[taskrun.value].objects | default([])) | length == 0 }}"
        then:
          - id: call_download_years
            type: io.kestra.plugin.core.flow.Subflow
            namespace: boc
            flowId: download_years
            inputs:
              year: "{{ parent.taskrun.value }}"