proyecto-analisis-del-boc/pipeline/flows/main_boc.download_issues.yaml
id: download_issues
namespace: boc
description: Download the dispositions of an issue

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: issue
    type: INT
    displayName: Issue
    defaults: "1"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

  - id: extract
    type: BOOL
    displayName: Extract
    defaults: true

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  source_url: "https://www.gobiernodecanarias.org/boc/{{ inputs.year }}/{{ render(vars.issue_padded) }}/index.html"
  bucket_path: "issues/{{ inputs.year }}-{{ render(vars.issue_padded) }}.html.gz"

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: issue_dispositions
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    prefix: "{{ render(vars.bucket_path) }}"

  - id: if_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ (outputs.lookup_file.objects | default([])) | length > 0 and not inputs.overwrite }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: SUCCESS
        description: "Key {{ render(vars.bucket_path) }} already exists and overwrite is set to false"

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: "{{ render(vars.source_url) }}"
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: compress
    type: io.kestra.plugin.compress.FileCompress
    from: "{{ outputs.store.uri }}"
    compression: GZIP

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    from: "{{ outputs.compress.uri }}"
    key: "{{ render(vars.bucket_path) }}"

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.extract }}"
    then:
      - id: call_extract_issues
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: extract_issues
        inputs:
          year: "{{ inputs.year }}"
          issue: "{{ inputs.issue }}"