proyecto-analisis-del-boc/pipeline/flows/main_boc.schedule_followups.yml
id: schedule_followups
namespace: boc

tasks:
  - id: cron_active
    type: io.kestra.plugin.core.kv.Get
    key: cron_active
    namespace: boc
    errorOnMissing: true

  - id: if_cron_non_active
    type: io.kestra.plugin.core.flow.If
    condition: "{{ not outputs.cron_active.value }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: SUCCESS
        description: "Skipping execution as the cron is disabled"

  - id: call_followup_issues
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: followup_issues
    inputs:
      limit: 1

  - id: call_followup_documents
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: followup_documents
    inputs:
      limit: 5

  - id: call_refresh_metrics
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: refresh_metrics
    wait: true
    transmitFailed: true

triggers:
  - id: every_10_minutes_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    description: Every 10 minutes
    cron: "0/10 * * * *"