proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_documents.yaml
id: extract_documents
namespace: boc
description: |
  Convert a disposition HTML to Markdown, store it in MinIO, and load its structured data into PostgreSQL.

  This is the deepest extraction step in the pipeline. It reads the raw HTML of a single BOC disposition from `boc-raw`, converts it to Markdown with YAML frontmatter using the **document-parser** CLI tool, uploads the result (compressed) to the `boc-markdown` bucket, and loads the structured fields into **boc_dataset.document** via dlt (merge on `year` + `issue` + `number`). After the first load it also ensures the full-text search column (**body_tsv**) and its GIN index exist so that `@@` queries work immediately.

  Storage paths:
    - Source:  `boc-raw/documents/YEAR/NNN/DDD.html.gz`
    - Output:  `boc-markdown/documents/YEAR/NNN/DDD.md.gz`

  Key fields loaded into **boc_dataset.document**: `year`, `issue`, `number`, `document`, `date`, `entity`, `section`, `subsection`, `organization`, `identifier`, `pdf`, `signature`, `title`, `body`, `body_tsv` (generated tsvector with GIN index, configuration `spanish`).

  Inputs:
    - **year**: the year of the boletín. Defaults to the current year.
    - **issue**: the issue number within that year. Defaults to 1.
    - **disposition**: the disposition number within the boletín. Defaults to 1.

  Steps:
    1. **read / decompress**: downloads and decompresses the raw HTML from `boc-raw`.
    2. **parse**: runs `document-parser` to produce **document.md** (Markdown + YAML frontmatter).
    3. **compress / publish**: compresses the Markdown and uploads it to `boc-markdown`.
    4. **load**: parses the frontmatter and body, then merges the record into **boc_dataset.document** via dlt.
    5. **ensure_fts**: adds `body_tsv` (generated tsvector) and its GIN index if not yet present.
    6. **log_extraction**: upserts a row in **boc_log.extraction_log** (entity_type = `document`).

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: issue
    type: INT
    displayName: Issue
    defaults: "1"

  - id: disposition
    type: INT
    displayName: Disposition
    defaults: "1"

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  disposition_padded: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"
  raw_path: "documents/{{ inputs.year }}/{{ render(vars.issue_padded) }}/{{ render(vars.disposition_padded) }}.html.gz"
  md_path: "documents/{{ inputs.year }}/{{ render(vars.issue_padded) }}/{{ render(vars.disposition_padded) }}.md.gz"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Extract documents running for year: {{ inputs.year }}, issue: {{ inputs.issue }} and disposition {{ inputs.disposition }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"
      disposition: "{{ render(vars.disposition_padded) }}"

  - id: read
    type: io.kestra.plugin.minio.Download
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    key: "{{ render(vars.raw_path) }}"

  - id: decompress
    type: io.kestra.plugin.compress.FileDecompress
    from: "{{ outputs.read.uri }}"
    compression: GZIP

  - id: parse
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      document.html: "{{ outputs.decompress.uri }}"
    outputFiles:
      - document.md
    commands:
      - document-parser document.html -o document.md

  - id: compress
    type: io.kestra.plugin.compress.FileCompress
    from: "{{ outputs.parse.outputFiles['document.md'] }}"
    compression: GZIP

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_markdown_bucket }}"
    from: "{{ outputs.compress.uri }}"
    key: "{{ render(vars.md_path) }}"

  - id: load
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      document.md: "{{ outputs.parse.outputFiles['document.md'] }}"
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import os
      import yaml
      import dlt

      host = os.environ["POSTGRES_HOST"]
      db   = os.environ["POSTGRES_DB"]
      user = os.environ["POSTGRES_USER"]
      pwd  = os.environ["POSTGRES_PASSWORD"]

      with open("document.md", encoding="utf-8") as f:
          content = f.read()

      # Parse YAML frontmatter (content is ---\n<yaml>\n---\n\n<body>)
      parts = content.split("---\n", 2)
      frontmatter = yaml.safe_load(parts[1]) if len(parts) == 3 else {}
      md_body = parts[2].strip() if len(parts) == 3 else content

      # Extract title from the first Markdown heading
      title = None
      body = md_body
      if md_body.startswith("# "):
          lines = md_body.split("\n", 2)
          title = lines[0][2:].strip()
          body = lines[2].strip() if len(lines) > 2 else ""

      record = {
          "year":         frontmatter.get("year"),
          "issue":        frontmatter.get("issue"),
          "number":       frontmatter.get("number"),
          "document":     frontmatter.get("document"),
          "date":         frontmatter.get("date"),
          "entity":       frontmatter.get("entity"),
          "section":      frontmatter.get("section"),
          "subsection":   frontmatter.get("subsection"),
          "organization": frontmatter.get("organization"),
          "identifier":   frontmatter.get("identifier"),
          "pdf":          frontmatter.get("pdf"),
          "signature":    frontmatter.get("signature"),
          "title":        title,
          "body":         body,
      }

      @dlt.resource(name="document", write_disposition="merge", primary_key=["year", "issue", "number"])
      def document_data():
          yield record

      pipeline = dlt.pipeline(
          pipeline_name="document",
          destination=dlt.destinations.postgres(
              f"postgresql://{user}:{pwd}@{host}:5432/{db}"
          ),
          dataset_name="boc_dataset",
      )

      pipeline.run(document_data)

  - id: ensure_fts
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True
      with conn.cursor() as cur:
          cur.execute("""
              ALTER TABLE boc_dataset.document
                ADD COLUMN IF NOT EXISTS body_tsv tsvector
                  GENERATED ALWAYS AS (
                    to_tsvector('spanish',
                      coalesce(title, '') || ' ' || coalesce(body, '')
                    )
                  ) STORED
          """)
          cur.execute("""
              CREATE INDEX IF NOT EXISTS document_body_tsv_idx
                ON boc_dataset.document USING gin(body_tsv)
          """)
      conn.close()

  - id: log_extraction
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.raw_path) }}"
      YEAR: "{{ inputs.year }}"
      ISSUE: "{{ inputs.issue }}"
      DISPOSITION: "{{ inputs.disposition }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.extraction_log (object_key, entity_type, year, issue, disposition) "
              "VALUES (%s, %s, %s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET extracted_at = now()",
              (os.environ["OBJECT_KEY"], "document",
               int(os.environ["YEAR"]), int(os.environ["ISSUE"]), int(os.environ["DISPOSITION"])),
          )

      conn.close()
      print(f"Logged: {os.environ['OBJECT_KEY']}")
