proyecto-analisis-del-boc/pipeline/flows/main_boc.download_issues.yaml
id: download_issues
namespace: boc
description: |
  Download the disposition index of a boletín and store it in MinIO.

  1. Fetches the HTML index page for a specific boletín (issue) from the BOC website (https://www.gobiernodecanarias.org/boc/YEAR/NNN/index.html).
  2. Compresses it with GZIP.
  3. Uploads it to MinIO as **issues/YEAR-NNN.html.gz**.

  If the file already exists the download is skipped unless **overwrite** is set. Records the download in **boc_log.download_log** and optionally triggers **extract_issues**.

  Inputs:
    - **year**: the year of the boletín. Defaults to the current year.
    - **issue**: the issue number within that year. Defaults to 1.
    - **overwrite**: re-download and overwrite the file even if it already exists. Defaults to false.
    - **extract**: call **extract_issues** after a successful download. Defaults to true.

  Steps:
    1. **lookup_file**: checks whether the compressed file already exists in MinIO.
    2. **if_file_exists**: exits early (SUCCESS) if the file exists and overwrite is false.
    3. **fetch / store / compress / publish**: downloads, compresses, and uploads the HTML.
    4. **log_download**: upserts a row in **boc_log.download_log** (entity_type = `issue`).
    5. **if_extract**: conditionally invokes **extract_issues** for the same year + issue.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: issue
    type: INT
    displayName: Issue
    defaults: "1"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

  - id: extract
    type: BOOL
    displayName: Extract
    defaults: true

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  source_url: "https://www.gobiernodecanarias.org/boc/{{ inputs.year }}/{{ render(vars.issue_padded) }}/index.html"
  bucket_path: "issues/{{ inputs.year }}-{{ render(vars.issue_padded) }}.html.gz"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Download issues running for year: {{ inputs.year }} and issue: {{ inputs.issue }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    prefix: "{{ render(vars.bucket_path) }}"

  - id: if_not_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ (outputs.lookup_file.objects | default([])) | length == 0 or inputs.overwrite }}"
    then:
    - id: fetch
      type: io.kestra.plugin.core.http.Request
      uri: "{{ render(vars.source_url) }}"
      method: GET

    - id: store
      type: io.kestra.plugin.core.storage.Write
      content: "{{ outputs.fetch.body }}"
      extension: .html

    - id: compress
      type: io.kestra.plugin.compress.FileCompress
      from: "{{ outputs.store.uri }}"
      compression: GZIP

    - id: publish
      type: io.kestra.plugin.minio.Upload
      endpoint: "{{ envs.minio_endpoint }}"
      accessKeyId: "{{ envs.minio_user }}"
      secretKeyId: "{{ envs.minio_password }}"
      bucket: "{{ envs.minio_raw_bucket }}"
      from: "{{ outputs.compress.uri }}"
      key: "{{ render(vars.bucket_path) }}"

  - id: log_download
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.bucket_path) }}"
      YEAR: "{{ inputs.year }}"
      ISSUE: "{{ inputs.issue }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.download_log (object_key, entity_type, year, issue) "
              "VALUES (%s, %s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET downloaded_at = now()",
              (os.environ["OBJECT_KEY"], "issue", int(os.environ["YEAR"]), int(os.environ["ISSUE"])),
          )

      conn.close()
      print(f"Logged: {os.environ['OBJECT_KEY']}")

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.extract }}"
    then:
      - id: call_extract_issues
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: extract_issues
        inputs:
          year: "{{ inputs.year }}"
          issue: "{{ inputs.issue }}"