proyecto-analisis-del-boc/pipeline/flows/main_boc.download_documents_from_pdf.yaml
id: download_documents_from_pdf
namespace: boc
description: |
  Download the PDF of a single BOC disposition and store it in MinIO.

  Some dispositions are published only as PDF with no HTML version (or the HTML
  version is unavailable). This flow fetches the PDF for a specific disposition
  from the BOC sede (https://sede.gobiernodecanarias.org/boc/boc-a-YEAR-NNN-NUMBER.pdf),
  compresses it with GZIP, and uploads it to MinIO as
  **documents/YEAR/NNN/boc-a-YEAR-NNN-NUMBER.pdf.gz**.

  If the file already exists the download is skipped unless **overwrite** is set.
  Records the download in **boc_log.download_log** and optionally triggers
  **extract_documents_from_pdf**.

  Inputs:
    - **year**: the year of the boletín.
    - **issue**: the issue number within that year.
    - **number**: the global disposition number (CVE number, e.g. 5624 in `boc-a-2019-229-5624`).
    - **overwrite**: re-download and overwrite the file even if it already exists. Defaults to false.
    - **extract**: call **extract_documents_from_pdf** after a successful download. Defaults to true.

  Steps:
    1. **lookup_file**: checks whether the compressed file already exists in MinIO.
    2. **if_not_file_exists**: skips the download if the file exists and overwrite is false.
    3. **fetch / compress / publish**: downloads, compresses, and uploads the PDF.
    4. **log_download**: upserts a row in **boc_log.download_log** (entity_type = `document_pdf`).
       The global `number` is stored in the `disposition` column since the table has no
       dedicated `number` column.
    5. **if_extract**: conditionally invokes **extract_documents_from_pdf** for the same year + issue + number.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year

  - id: issue
    type: INT
    required: true
    displayName: Issue

  - id: number
    type: INT
    required: true
    displayName: Number

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

  - id: extract
    type: BOOL
    displayName: Extract
    defaults: true

variables:
  issue_padded: "{{ inputs.issue < 10 ? '00' ~ inputs.issue : inputs.issue < 100 ? '0' ~ inputs.issue : inputs.issue }}"
  identifier: "boc-a-{{ inputs.year }}-{{ render(vars.issue_padded) }}-{{ inputs.number }}"
  source_url: "https://sede.gobiernodecanarias.org/boc/{{ render(vars.identifier) }}.pdf"
  bucket_path: "documents/{{ inputs.year }}/{{ render(vars.issue_padded) }}/{{ render(vars.identifier) }}.pdf.gz"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Download documents from PDF running for year: {{ inputs.year }}, issue: {{ inputs.issue }} and number: {{ inputs.number }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"
      issue: "{{ render(vars.issue_padded) }}"
      number: "{{ inputs.number }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    prefix: "{{ render(vars.bucket_path) }}"

  - id: if_not_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ (outputs.lookup_file.objects | default([])) | length == 0 or inputs.overwrite }}"
    then:
    - id: fetch
      type: io.kestra.plugin.core.http.Download
      uri: "{{ render(vars.source_url) }}"
      method: GET

    - id: compress
      type: io.kestra.plugin.compress.FileCompress
      from: "{{ outputs.fetch.uri }}"
      compression: GZIP

    - id: publish
      type: io.kestra.plugin.minio.Upload
      endpoint: "{{ envs.minio_endpoint }}"
      accessKeyId: "{{ envs.minio_user }}"
      secretKeyId: "{{ envs.minio_password }}"
      bucket: "{{ envs.minio_raw_bucket }}"
      from: "{{ outputs.compress.uri }}"
      key: "{{ render(vars.bucket_path) }}"

  - id: log_download
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.bucket_path) }}"
      YEAR: "{{ inputs.year }}"
      ISSUE: "{{ inputs.issue }}"
      NUMBER: "{{ inputs.number }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.download_log (object_key, entity_type, year, issue, disposition) "
              "VALUES (%s, %s, %s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET downloaded_at = now()",
              (os.environ["OBJECT_KEY"], "document",
               int(os.environ["YEAR"]), int(os.environ["ISSUE"]), int(os.environ["NUMBER"])),
          )

      conn.close()

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.extract }}"
    then:
      - id: call_extract_documents_from_pdf
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: extract_documents_from_pdf
        inputs:
          year: "{{ inputs.year }}"
          issue: "{{ inputs.issue }}"
          number: "{{ inputs.number }}"
        wait: true
        transmitFailed: true
