proyecto-analisis-del-boc/pipeline/flows/main_boc.download_years.yaml
id: download_years
namespace: boc
description: |
  Download the yearly issue index from the BOC archive and store it in MinIO.

  Fetches the HTML index page for the given year from the official BOC archive (https://www.gobiernodecanarias.org/boc/archivo/YEAR), compresses it with GZIP, uploads it to MinIO as **years/YEAR.html.gz**, and records the download in **boc_log.download_log**. If the file already exists in MinIO the download is skipped unless **overwrite** is set.

  Inputs:
    - **year**: the year to download. Defaults to the current year.
    - **overwrite**: re-download and overwrite the file even if it already exists in MinIO. Defaults to false.
    - **extract**: call the **extract_years** subflow after a successful download. Defaults to true.

  Steps:
    1. **lookup_file**: checks whether the compressed file already exists in MinIO.
    2. **if_not_file_exists**: fetches, compresses, and uploads the HTML only when the file is absent or **overwrite** is true.
    3. **log_download**: upserts a row in **boc_log.download_log** to record the download timestamp.
    4. **if_extract**: conditionally invokes **extract_years** for the same year.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

  - id: extract
    type: BOOL
    displayName: Extract
    defaults: true

variables:
  source_url: "https://www.gobiernodecanarias.org/boc/archivo/{{ inputs.year }}"
  bucket_path: "years/{{ inputs.year }}.html.gz"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Downloading the index of issues of year {{ inputs.year }}"

  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      year: "{{ inputs.year }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    prefix: "{{ render(vars.bucket_path) }}"

  - id: if_not_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ (outputs.lookup_file.objects | default([])) | length == 0 or inputs.overwrite }}"
    then:
    - id: fetch
      type: io.kestra.plugin.core.http.Request
      uri: "{{ render(vars.source_url) }}"
      method: GET

    - id: store
      type: io.kestra.plugin.core.storage.Write
      content: "{{ outputs.fetch.body }}"
      extension: .html

    - id: compress
      type: io.kestra.plugin.compress.FileCompress
      from: "{{ outputs.store.uri }}"
      compression: GZIP

    - id: publish
      type: io.kestra.plugin.minio.Upload
      endpoint: "{{ envs.minio_endpoint }}"
      accessKeyId: "{{ envs.minio_user }}"
      secretKeyId: "{{ envs.minio_password }}"
      bucket: "{{ envs.minio_raw_bucket }}"
      from: "{{ outputs.compress.uri }}"
      key: "{{ render(vars.bucket_path) }}"

  - id: log_download
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    pythonVersion: "python: 3.11"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.bucket_path) }}"
      YEAR: "{{ inputs.year }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.download_log (object_key, entity_type, year) "
              "VALUES (%s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET downloaded_at = now()",
              (os.environ["OBJECT_KEY"], "year", int(os.environ["YEAR"])),
          )

      conn.close()

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.extract }}"
    then:
      - id: call_extract_years
        type: io.kestra.plugin.core.flow.Subflow
        namespace: boc
        flowId: extract_years
        inputs:
          year: "{{ inputs.year }}"