proyecto-analisis-del-boc/pipeline/flows/main_boc.download_archive.yaml
id: download_archive
namespace: boc
description: Download the archive

inputs:
  - id: extract
    type: BOOL
    displayName: Extract after download
    defaults: true

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: archive

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: https://www.gobiernodecanarias.org/boc/archivo/
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: compress
    type: io.kestra.plugin.compress.FileCompress
    from: "{{ outputs.store.uri }}"
    compression: GZIP

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    from: "{{ outputs.compress.uri }}"
    key: archive/archive.html.gz

  - id: log_download
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_dataset.download_log (object_key, entity_type) "
              "VALUES (%s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET downloaded_at = now()",
              ("archive/archive.html.gz", "archive"),
          )

      conn.close()
      print("Logged: archive/archive.html.gz")

  - id: if_extract
    type: io.kestra.plugin.core.flow.If
    condition: "{{ not inputs.extract }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: SUCCESS
        description: "Finishing after download because extraction wasn't solicited"

  - id: call_extract_archive
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: extract_archive
