proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_years.yaml
id: extract_years
namespace: boc
description: |
  Parse the yearly issue index and load it into PostgreSQL.

  Downloads the compressed HTML for the given year from MinIO (**years/YEAR.html.gz**), decompresses it, parses it with the **year-parser** CLI tool to produce a JSON list of issues, loads the records into **boc_dataset.year** via dlt (merge on year + issue), and records the extraction in **boc_log.extraction_log**.

  Inputs:
    - **year**: the year to extract. Defaults to the current year.

  Steps:
    1. **read**: downloads **years/YEAR.html.gz** from MinIO.
    2. **decompress**: decompresses the GZIP file.
    3. **parse**: runs `year-parser` to extract the list of issues as **year.json**.
    4. **load**: uses dlt to merge the parsed records into **boc_dataset.year**.
    5. **log_extraction**: upserts a row in **boc_log.extraction_log** to record the extraction timestamp.

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

variables:
  uncompressed_file: "years/{{ inputs.year }}.html"
  compressed_file: "{{ render(vars.uncompressed_file) }}.gz"

tasks:
  - id: log
    type: io.kestra.plugin.core.log.Log
    message: "Extracting the index of issues of year {{ inputs.year }}"

  - id: read
    type: io.kestra.plugin.minio.Download
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    key: "{{ render(vars.compressed_file) }}"

  - id: decompress
    type: io.kestra.plugin.compress.FileDecompress
    from: "{{ outputs.read.uri }}"
    compression: GZIP

  - id: parse
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      year.html: "{{ outputs.decompress.uri }}"
    outputFiles:
      - year.json
    commands:
      - year-parser year.html -o year.json

  - id: load
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      year.json: "{{ outputs.parse.outputFiles['year.json'] }}"
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import json
      import os
      import dlt

      host = os.environ["POSTGRES_HOST"]
      db   = os.environ["POSTGRES_DB"]
      user = os.environ["POSTGRES_USER"]
      pwd  = os.environ["POSTGRES_PASSWORD"]

      with open("year.json") as f:
          records = json.load(f)

      @dlt.resource(name="year", write_disposition="merge", primary_key=["year", "issue"])
      def year_data():
          yield from records

      pipeline = dlt.pipeline(
          pipeline_name="issue",
          destination=dlt.destinations.postgres(
              f"postgresql://{user}:{pwd}@{host}:5432/{db}"
          ),
          dataset_name="boc_dataset",
      )

      pipeline.run(year_data)

  - id: log_extraction
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
      OBJECT_KEY: "{{ render(vars.compressed_file) }}"
      YEAR: "{{ inputs.year }}"
    script: |
      import os
      import psycopg2

      conn = psycopg2.connect(
          host=os.environ["POSTGRES_HOST"],
          dbname=os.environ["POSTGRES_DB"],
          user=os.environ["POSTGRES_USER"],
          password=os.environ["POSTGRES_PASSWORD"],
      )
      conn.autocommit = True

      with conn.cursor() as cur:
          cur.execute(
              "INSERT INTO boc_log.extraction_log (object_key, entity_type, year) "
              "VALUES (%s, %s, %s) "
              "ON CONFLICT (object_key) DO UPDATE SET extracted_at = now()",
              (os.environ["OBJECT_KEY"], "year", int(os.environ["YEAR"])),
          )

      conn.close()
