proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_issues.yaml
id: extract_issues
namespace: boc
description: Extract the dispositions of an issue

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: bulletin
    type: INT
    displayName: Bulletin
    defaults: "1"

variables:
  bulletin_padded: "{{ inputs.bulletin < 10 ? '00' ~ inputs.bulletin : inputs.bulletin < 100 ? '0' ~ inputs.bulletin : inputs.bulletin }}"
  uncompressed_file: "issues/{{ inputs.year }}-{{ render(vars.bulletin_padded) }}.html"
  compressed_file: "{{ render(vars.uncompressed_file) }}.gz"

tasks:
  - id: read
    type: io.kestra.plugin.minio.Download
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: "{{ envs.minio_raw_bucket }}"
    key: "{{ render(vars.compressed_file) }}"

  - id: decompress
    type: io.kestra.plugin.compress.FileDecompress
    from: "{{ outputs.read.uri }}"
    compression: GZIP

  - id: parse
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      issue.html: "{{ outputs.decompress.uri }}"
    outputFiles:
      - issue.json
    commands:
      - issue-parser issue.html -o issue.json

  - id: load
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      issue.json: "{{ outputs.parse.outputFiles['issue.json'] }}"
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import json
      import os
      import dlt

      host = os.environ["POSTGRES_HOST"]
      db   = os.environ["POSTGRES_DB"]
      user = os.environ["POSTGRES_USER"]
      pwd  = os.environ["POSTGRES_PASSWORD"]

      with open("issue.json") as f:
          records = json.load(f)

      @dlt.resource(name="issue", write_disposition="merge", primary_key=["year", "issue"])
      def issue_data():
          yield from [records]

      pipeline = dlt.pipeline(
          pipeline_name="issue",
          destination=dlt.destinations.postgres(
              f"postgresql://{user}:{pwd}@{host}:5432/{db}"
          ),
          dataset_name="boc_dataset",
      )

      pipeline.run(issue_data)
