proyecto-analisis-del-boc/pipeline/flows/main_boc.schedule_downloads.yaml
id: schedule_downloads
namespace: boc
description: |
  Refresh the archive index and the current year's issue list every day.

  This flow is triggered daily at midnight. It always re-downloads the top-level archive page (the list of all years) and then re-downloads the issue index for the current year with **overwrite: true** so it picks up any new boletines published during the day. Because each download_years call has **extract** enabled by default, the year index is also re-extracted automatically.

tasks:
  - id: cron_active
    type: io.kestra.plugin.core.kv.Get
    key: cron_active
    namespace: boc
    errorOnMissing: true

  - id: if_cron_non_active
    type: io.kestra.plugin.core.flow.If
    condition: "{{ not outputs.cron_active.value }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: SUCCESS
        description: "Skipping execution as the cron is disabled"

  - id: download_archive
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: download_archive

  - id: download_current_year
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: download_years
    inputs:
      year: "{{ date('yyyy') }}"
      overwrite: true

  - id: call_refresh_catalogs
    type: io.kestra.plugin.core.flow.Subflow
    namespace: boc
    flowId: refresh_catalogs
    wait: true
    transmitFailed: true

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    description: Once a day
    cron: "0 0 * * *"

  - id: minute_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    description: Once a minute
    cron: "*/1 * * * *"
