proyecto-analisis-del-boc/pipeline/flows/main_boc.extract_archive.yaml
id: extract_archive
namespace: boc
description: Extract year links from the archive

tasks:
  - id: read_archive_html
    type: io.kestra.plugin.minio.Download
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    key: archive/archive.html

  - id: parse_archive
    type: io.kestra.plugin.scripts.python.Commands
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      archive.html: "{{ outputs.read_archive_html.uri }}"
    outputFiles:
      - year_index.json
    commands:
      - archive-parser archive.html -o year_index.json

  - id: load_year_index
    type: io.kestra.plugin.scripts.python.Script
    containerImage: boc-python:latest
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      networkMode: boc-postgres-network
    inputFiles:
      year_index.json: "{{ outputs.parse_archive.outputFiles['year_index.json'] }}"
    env:
      POSTGRES_HOST: "{{ envs.postgres_data_host }}"
      POSTGRES_DB: "{{ envs.postgres_data_db }}"
      POSTGRES_USER: "{{ envs.postgres_data_user }}"
      POSTGRES_PASSWORD: "{{ envs.postgres_data_password }}"
    script: |
      import json
      import os
      import dlt

      host = os.environ["POSTGRES_HOST"]
      db   = os.environ["POSTGRES_DB"]
      user = os.environ["POSTGRES_USER"]
      pwd  = os.environ["POSTGRES_PASSWORD"]

      with open("year_index.json") as f:
          records = json.load(f)

      @dlt.resource(name="year_index", write_disposition="merge", merge_key="year")
      def year_index_data():
          yield from records

      pipeline = dlt.pipeline(
          pipeline_name="year_index",
          destination=dlt.destinations.postgres(
              f"postgresql://{user}:{pwd}@{host}:5432/{db}"
          ),
          dataset_name="year_index_dataset",
      )

      pipeline.run(year_index_data)
