proyecto-analisis-del-boc/pipeline/flows/main_boc.download_year_bulletins.yaml
id: download_year_bulletins
namespace: boc
description: Download the index of bulletins of a year

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

variables:
  source_url: "https://www.gobiernodecanarias.org/boc/archivo/{{ inputs.year }}"
  key: "years/{{ inputs.year }}.html"

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: year_bulletins
      year: "{{ inputs.year }}"

  - id: lookup_file
    type: io.kestra.plugin.minio.List
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    prefix: "{{ render(vars.key) }}"

  - id: if_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_file.objects | length > 0 and not inputs.overwrite }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: CANCELED
        description: "Key {{ render(vars.key) }} already exists and overwrite is set to false"

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: "{{ render(vars.source_url) }}"
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.minio.Upload
    endpoint: "{{ envs.minio_endpoint }}"
    accessKeyId: "{{ envs.minio_user }}"
    secretKeyId: "{{ envs.minio_password }}"
    bucket: boc-raw
    from: "{{ outputs.store.uri }}"
    key: "{{ render(vars.key) }}"