proyecto-analisis-del-boc/flows/download_year_index.yaml
id: download_year_index
namespace: boc
description: Download the index of years

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: archive

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: https://www.gobiernodecanarias.org/boc/archivo/
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.fs.local.Upload
    from: "{{ outputs.store.uri }}"
    to: "/app/data/raw/boc/archive.html"
    overwrite: true
