proyecto-analisis-del-boc/flows/download_disposition.yaml
id: download_disposition
namespace: boc
description: Download a single disposition

inputs:
  - id: year
    type: INT
    required: true
    displayName: Year
    defaults: "{{ now() | date('yyyy') }}"

  - id: bulletin
    type: INT
    displayName: Bulletin
    defaults: "1"

  - id: disposition
    type: INT
    displayName: Disposition
    defaults: "1"

  - id: overwrite
    type: BOOL
    displayName: Overwrite
    defaults: false

variables:
  bulletin: "{{ inputs.bulletin < 10 ? '00' ~ inputs.bulletin : inputs.bulletin < 100 ? '0' ~ inputs.bulletin : inputs.bulletin }}"
  disposition: "{{ inputs.disposition < 10 ? '00' ~ inputs.disposition : inputs.disposition < 100 ? '0' ~ inputs.disposition : inputs.disposition }}"
  source_url: "https://www.gobiernodecanarias.org/boc/{{ inputs.year }}/{{ render(vars.bulletin) }}/{{ render(vars.disposition) }}.html"
  folder: "/app/data/raw/boc/year/{{ inputs.year }}/bulletin/{{ render(vars.bulletin) }}/entries"
  full_path: "{{ render(vars.folder) }}/{{ render(vars.disposition) }}.html"

tasks:
  - id: label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      type: disposition
      year: "{{ inputs.year }}"
      bulletin: "{{ render(vars.bulletin) }}"
      disposition: "{{ render(vars.disposition) }}"

  - id: log
    type: io.kestra.plugin.core.log.Log
    message: |
      "Bulletin URL: {{ render(vars.source_url) }}"
      "Target file: {{ render(vars.full_path) }}"

  - id: create_folder
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - mkdir -p {{ render(vars.folder) }}

  - id: lookup_file
    type: io.kestra.plugin.fs.local.List
    from: "{{ render(vars.folder) }}"
    regExp: ".*{{ render(vars.disposition) | trim }}\\.html"
    recursive: false
    maxFiles: 1

  - id: if_file_exists
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.lookup_file.count > 0 and not inputs.overwrite }}"
    then:
      - id: exit
        type: io.kestra.plugin.core.execution.Exit
        state: CANCELED
        description: "File {{ render(vars.full_path) }} already exists and overwrite is set to false"

  - id: fetch
    type: io.kestra.plugin.core.http.Request
    uri: "{{ render(vars.source_url) }}"
    method: GET

  - id: store
    type: io.kestra.plugin.core.storage.Write
    content: "{{ outputs.fetch.body }}"
    extension: .html

  - id: publish
    type: io.kestra.plugin.fs.local.Upload
    from: "{{ outputs.store.uri }}"
    to: "{{ render(vars.full_path) }}"
    overwrite: "{{ inputs.overwrite }}"